<nav class="navbar navbar-expand-md navbar fixed-top  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Calendrier budgetaires</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
            aria-expanded="false">Langues</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            <li><a class="dropdown-item" href="#">Français</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../calend">Ressources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 1.3rem" value="2"
              severity="warning"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-envelope p-mr-4 p-text-secondary" pBadge style="font-size: 1.3rem" value="2"></i></a>
        </li>
      </ul>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" routerLink="../profil">Profile</a></li>
          <li><a class="dropdown-item" href="#">Reseau</a></li>
          <li><a class="dropdown-item" href="#">Parametres</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="">Se deconnecter</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>



<main class="container">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="cd-horizontal-timeline loaded">
              <div class="timeline">
                <div class="events-wrapper">
                  <div class="events" style="width: 1800px;">
                    <ol>
                      <li><a href="#0" data-date="16/01/2021" class="older-event" style="left: 120px;"> Jan</a></li>
                      <li><a href="#0" data-date="28/02/2021" style="left: 300px;" class="older-event"> Feb</a></li>
                      <li><a href="#0" data-date="20/04/2021" style="left: 480px;" class="selected">
                          Mar</a></li>
                      <li><a href="#0" data-date="20/05/2021" style="left: 600px;"> May</a></li>
                      <li><a href="#0" data-date="09/07/2021" style="left: 780px;"> Jul</a></li>
                      <li><a href="#0" data-date="30/08/2021" style="left: 960px;"> Aug</a></li>
                      <li><a href="#0" data-date="15/09/2021" style="left: 1020px;"> Sep</a></li>
                      <li><a href="#0" data-date="01/11/2021" style="left: 1200px;"> Nov</a></li>
                      <li><a href="#0" data-date="10/12/2021" style="left: 1380px;"> Dec</a></li>
                      <li><a href="#0" data-date="19/01/2022" style="left: 1500px;"> Jan</a></li>
                      <li><a href="#0" data-date="03/03/2022" style="left: 1680px;"> Mar</a></li>
                    </ol>
                    <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.281506);"></span>
                  </div>
                  <!-- .events -->
                </div>
                <!-- .events-wrapper -->
                <ul class="cd-timeline-navigation">
                  <li><a href="#0" class="prev inactive"><p>2021</p></a></li>
                  <li><a href="#0" class="next"></a></li>
                </ul>
                <!-- .cd-timeline-navigation -->
              </div>
              <!-- .timeline -->
             
             
              <div class="events-content" style="height: 225px;">
                <ol>
                  <li class="" data-date="16/01/2021">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar1.png"> Horizontal
                      Timeline<br>
                      <small>January 16th, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="28/02/2021" class="">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar2.png"> Horizontal
                      Timeline<br>
                      <small>Feb 28th, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="20/04/2021" class="selected">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar3.png"> Horizontal
                      Timeline<br>
                      <small>March 20th, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="20/05/2021">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar4.png"> Horizontal
                      Timeline<br>
                      <small>May 20th, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="09/07/2021">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar1.png"> Horizontal
                      Timeline<br>
                      <small>July 9th, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="30/08/2021">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar2.png"> Horizontal
                      Timeline<br>
                      <small>August 30th, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="15/09/2021">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar6.png"> Horizontal
                      Timeline<br>
                      <small>September 15th, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="01/11/2021">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar7.png"> Horizontal
                      Timeline<br>
                      <small>November 01st, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="10/12/2021">
                    <h4>
                      <img class="rounded float-left m-r-15" width="40" alt="user"
                        src="https://bootdey.com/img/Content/avatar/avatar8.png"> Horizontal
                      Timeline<br>
                      <small>December 10th, 2021</small>
                    </h4>
                    <hr>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.
                      <br>
                      <button class="btn btn-primary btn-round">Read more</button>
                    </p>
                  </li>
                  <li data-date="19/01/2022">
                    <h4>Event title here</h4>
                    <em>January 19th, 2022</em>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.</p>
                  </li>
                  <li data-date="03/03/2022">
                    <h4>Event title here</h4>
                    <em>March 3rd, 2022</em>
                    <p>It is a long established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                      that it has a more-or-less normal distribution of letters, as opposed to using
                      'Content here, content here', making it look like readable English. Many desktop
                      publishing packages and web page editors infancy.</p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <a class="navbar-brand" href="#">Assistance technique</a>
      </div>
      <div class="col-md-4">
        <a class="navbar-brand" href="#"> Call center</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>