<!-- <nav class="navbar navbar-expand-md navbar fixed-top  bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Calendrier budgetaires</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav" style="margin-right: 2rem;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
            aria-expanded="false">Langues</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            <li><a class="dropdown-item" href="#">Français</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../calend">Ressources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 1.3rem" value="2"
              severity="warning"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-envelope p-mr-4 p-text-secondary" pBadge style="font-size: 1.3rem" value="2"></i></a>
        </li>
      </ul>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" routerLink="../profil">Profile</a></li>
          <li><a class="dropdown-item" href="#">Reseau</a></li>
          <li><a class="dropdown-item" href="#">Parametres</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="">Se deconnecter</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->



<header>



  <nav id="main-navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">


      <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
      aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button> -->


      <a class="navbar-brand display-3 mx-4" routerLink="courrier">
        <img src="assets/img/logocg.png" alt="" width="25" height="25" class="d-inline-block align-text-top">
        CONTROLE DE GESTION
      </a>



      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input #searchBox name="rechercher" class="form-control" type="text" pInputText placeholder="Rechercher"
          [style]="{'width':'30vw'}" autocomplete="on" />


      </span>

      <div class="d-flex flex-row">

        <div class="p-mr-3">
          <p-radioButton name="language" value="en" [(ngModel)]="lang" (ngModelChange)="changeLang($event)"
            inputId="en"></p-radioButton>
          <label class="p-ml-1 mx-2" for="en">Anglais</label>
        </div>
        <div class="p-mr-3">
          <p-radioButton name="language" value="fr" [(ngModel)]="lang" (ngModelChange)="changeLang($event)"
            inputId="fr"></p-radioButton>
          <label class="p-ml-1 mx-2" for="fr">Français</label>
        </div>
      </div>



      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/load">
            <i class="fas fa-home fa-fw me-2 text-primary"></i> <span>Modules</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="reseau">
            <i class="fas fa-network-wired fa-fw me-2 text-primary"></i> <span>Reseau</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reseau">
            <i class="fas fa-comment-dots fa-fw me-2 text-primary" pBadge value="{{nbrMessages}}" severity="danger"></i>
            <span>Message</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notification" (click)="toggleStatus('')">
            <i class="fas fa-bell fa-fw me-2 text-primary" pBadge value="{{nbrNotifications}}" severity="warning"></i>
            <span>Notification</span>
          </a>
        </li>
        <div class="dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <p-avatar icon="pi pi-user" styleClass="p-mr-2"  shape="circle"></p-avatar>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" routerLink="../profil">
              <i class="pi pi-user-edit me-1 text-primary"></i>
              Profile</a></li>
            <li><a class="dropdown-item" href="#">
              <i class="pi pi-cog me-1 text-primary"></i>
              Parametres</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="" (click)="showDialog()">
               <i class="pi pi-power-off me-1 text-primary"></i>
              Se deconnecter</a></li>
          </ul>
        </div>
<div class="nav-item" style="margin-right:90px;"></div>


      
      </ul>

    </div>


  </nav>








  <!-- Sidebar -->
  <nav id="sidebarMenu" class="sidebar-wrapper collapse d-lg-block sidebar collapse bg-white">


    <div class="position-sticky mb-5">
      <div class="d-flex flex-column align-items-center text-center position-sticky">
        <a style="cursor: pointer;" routerLink="profil">
          <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
          <div class="mb-3">
            <h5>{{username}}</h5>
          </div>
        </a>
      </div>

      <div class="list-group list-group-flush mx-3 mb-5">

        <a routerLink="editcourrier" class="list-group-item list-group-item-action py-2 ripple "
          (click)="toggleStatus('add')" [ngClass]="status=='add' ? 'active' : ' '" aria-current="true">
          <i class="fas fa-plus fa-fw me-1 " [ngClass]="status=='add' ? ' ' : 'text-primary'"></i>
          <span> ajout </span>
        </a>

        <a routerLink="historisation" class="list-group-item list-group-item-action py-2 ripple "
          (click)="toggleStatus('historique')" [ngClass]="status=='historique' ? 'active' : ' '">
          <i class="fas fa-history fa-fw me-3 " [ngClass]="status=='historique' ? ' ' : 'text-primary'"></i>
          <span> Historique </span>
        </a>

        <a routerLink="organisation" class="list-group-item list-group-item-action py-2 ripple "
          (click)="toggleStatus('organisation')" [ngClass]="status=='organisation' ? 'active' : ' '">
          <i class="fas fa-home fa-fw me-3 " [ngClass]="status=='organisation' ? ' ' : 'text-primary'"></i>
          <span>
            organisation </span>
        </a>
        <a routerLink="structure" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('structure')" [ngClass]="status=='structure' ? 'active' : ' '">
          <i class="fas fa-sitemap fa-fw me-3 " [ngClass]="status=='structure' ? ' ' : 'text-primary'"></i>
          <span>
            structure </span> </a>
        <a routerLink="poste" class="list-group-item list-group-item-action py-2 ripple "
          (click)="toggleStatus('ptraitement')" [ngClass]="status=='ptraitement' ? 'active' : ' '"><i
            class="fas fa-chalkboard-teacher fa-fw me-3 " [ngClass]="status=='ptraitement' ? ' ' : 'text-primary'"></i>
          <span>ptraitement
          </span> </a>
        <a routerLink="dossier" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('dossier')" [ngClass]="status=='dossier' ? 'active' : ' '">
          <i class="fas fa-folder fa-fw me-3 " [ngClass]="status=='dossier' ? ' ' : 'text-primary'"></i>
          <span>
            dossier</span>
        </a>
        <!--<a routerLink="piecejointe" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-bar fa-fw me-3"></i> <span>pjointe</span></a
          >-->

        <a routerLink="secteur" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('secteur')" [ngClass]="status=='secteur' ? 'active' : ' '"><i
            class="fas fa-chart-pie fa-fw me-3 " [ngClass]="status=='secteur' ? ' ' : 'text-primary'"></i>
          <span>
            secteur</span> </a>
        <a routerLink="souscategorie" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('categorie')" [ngClass]="status=='categorie' ? 'active' : ' '"><i
            class="fas fa-align-right fa-fw me-3 " [ngClass]="status=='categorie' ? ' ' : 'text-primary'"></i>
          <span>
            categorie</span> </a>
        <a routerLink="sensibilite" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('sensibilite')" [ngClass]="status=='sensibilite' ? 'active' : ' '"><i
            class="fas fa-money-bill fa-fw me-3 " [ngClass]="status=='sensibilite' ? ' ' : 'text-primary'"></i>
          <span>
            sensibilite</span> </a>
        <a routerLink="comptabilite" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('comptabilite')" [ngClass]="status=='comptabilite' ? 'active' : ' '"><i
            class="fas fa-calculator fa-fw me-3 " [ngClass]="status=='comptabilite' ? ' ' : 'text-primary'"></i>
          <span>
            comptabilite</span> </a>
        <a routerLink="localite" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('localite')" [ngClass]="status=='localite' ? 'active' : ' '"><i
            class="fas fa-map-marked-alt fa-fw me-3 " [ngClass]="status=='localite' ? ' ' : 'text-primary'"></i>
          <span>
            localite</span> </a>
        <a routerLink="fonction" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('fonction')" [ngClass]="status=='fonction' ? 'active' : ' '"><i
            class="fas fa-journal-whills fa-fw me-3 " [ngClass]="status=='fonction' ? ' ' : 'text-primary'"></i>
          <span>
            fonction</span> </a>
        <a routerLink="modebudget" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('mbudget')" [ngClass]="status=='mbudget' ? 'active' : ' '"><i
            class="fas fa-money-bill fa-fw  me-3" [ngClass]="status=='mbudget' ? ' ' : 'text-primary'"></i>
          <span>
            mbudget </span> </a>
        <a routerLink="uniteorganique" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('uniteorganique')" [ngClass]="status=='uniteorganique' ? 'active' : ' '"><i
            class="fab fa-buromobelexperte fa-fw  me-3" [ngClass]="status=='uniteorganique' ? ' ' : 'text-primary'"></i>
          <span>uniteorganique
           
          </span> </a>
        <a routerLink="localiteniveau" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('niveau')" [ngClass]="status=='niveau' ? 'active' : ' '"><i
            class="fas fa-map-signs  fa-fw  me-3" [ngClass]="status=='niveau' ? ' ' : 'text-primary'"></i>
          <span>
            lniveau </span> </a>
        <a routerLink="user" class="list-group-item list-group-item-action py-2 ripple" (click)="toggleStatus('user')"
          [ngClass]="status=='user' ? 'active' : ' '"><i class="fas fa-users  me-3"
            [ngClass]="status=='user' ? ' ' : 'text-primary'"></i> <span>utilisateur</span> </a>
        <a routerLink="habilitation" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('habilitation')" [ngClass]="status=='habilitation' ? 'active' : ' '"><i
            class="fas fa-user-lock  me-3" [ngClass]="status=='habilitation' ? ' ' : 'text-primary'"></i>
          <span>
            Habilitations </span> </a>
        <a routerLink="dashboard" class="list-group-item list-group-item-action py-2 ripple"
          (click)="toggleStatus('dashboard')" [ngClass]="status=='dashboard' ? 'active' : ' '">
          <i class="fas fa-tachometer-alt fa-fw  me-3" [ngClass]="status=='dashboard' ? ' ' : 'text-primary'"></i>
          <span> Dashboard
          </span> </a>

      </div>

    </div>
  </nav>
  <!-- Sidebar -->












  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <a class="navbar-brand" href="#">Assistance technique</a>
        </div>
        <div class="col-md-4">
          <a class="navbar-brand" href="#"> Call center</a>
        </div>
      </div>
    </div>
  </nav>

</header>




<main>
  <div class="content" style="margin-top: 100px;">
    <router-outlet></router-outlet>
  </div>
</main>