<header>

  <nav id="main-navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">


   


      <a class="navbar-brand display-3 mx-4" routerLink="courrier">
        <img src="assets/img/logocg.png" alt="" width="25" height="25" class="d-inline-block align-text-top">
        CONTROLE DE GESTION
      </a>


      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input #searchBox name="rechercher" class="form-control" type="text" pInputText placeholder="Rechercher"
          [style]="{'width':'30vw'}" autocomplete="on" />
      </span>

      <div class="d-flex flex-row">
        <div class="p-mr-3">
          <p-radioButton name="language" value="en" [(ngModel)]="lang" (ngModelChange)="changeLang($event)"
            inputId="en"></p-radioButton>
          <label class="p-ml-1 mx-2" for="en">{{"en" | translate}}</label>
        </div>
        <div class="p-mr-3">
          <p-radioButton name="language" value="fr" [(ngModel)]="lang" (ngModelChange)="changeLang($event)"
            inputId="fr"></p-radioButton>
          <label class="p-ml-1 mx-2" for="fr">{{"fr" | translate}}</label>
        </div>
      </div>



      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/load">
            <i class="fas fa-home fa-fw me-2 text-primary"></i> <span>Modules</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="reseau">
            <i class="fas fa-network-wired fa-fw me-2 text-primary"></i> <span>Reseau</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reseau">
            <i class="fas fa-comment-dots fa-fw me-2 text-primary" pBadge value="{{nbrMessages}}" severity="danger"></i>
            <span>Message</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notification" (click)="toggleStatus('')">
            <i class="fas fa-bell fa-fw me-2 text-primary" pBadge value="{{nbrNotifications}}" severity="warning"></i>
            <span>Notification</span>
          </a>
        </li>
        <li>

          <div class="dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <p-avatar icon="pi pi-user" styleClass="p-mr-2" shape="circle"></p-avatar>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item nav-link" routerLink="../profil">
                  <i class="pi pi-user-edit me-1 text-primary"></i>
                  Profile</a></li>
              <li><a class="dropdown-item nav-link" href="#">
                  <i class="pi pi-cog me-1 text-primary"></i>
                  Parametres</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item nav-link" routerLink="" (click)="showDialog()">
                  <i class="pi pi-power-off me-1 text-primary"></i>
                  Se deconnecter</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item" style="margin-right:60px;">
          <a class="nav-link" routerLink="notification" (click)="toggleStatus('')">
            <span> {{username}} </span>
          </a>
        </li>

      </ul>

    </div>

  </nav>







  <!-- Sidebar -->












  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-end">
      <div class="row ">
        <div class="col-md-8">
          <a class="navbar-brand" href="#">Assistance technique</a>
        </div>
        <div class="col-md-4">
          <a class="navbar-brand" href="#"> Call center</a>
        </div>
      </div>
    </div>
  </nav>

</header>




<main>
  <div class="content" style="margin-top: 100px;">
    <router-outlet></router-outlet>
  </div>
</main>















