<h2 class="d-flex justify-content-center text-primary">Calendrier Budgetaire</h2>
<hr style="margin-bottom: 20px;">


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="body gap-3">
          2021

          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;"><a data-bs-toggle="collapse"
                href="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">jan</a></div>
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">fev</div>
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">mars</div>
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">avr</div>
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">mai</div>
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">juin</div>
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">jui</div>
            <div class="progress-bar progress-bar-striped  bg-info" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;"> </div>
            <div class="progress-bar  progress-bar-striped bg-info " role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">sept</div>
            <div class="progress-bar  progress-bar-striped bg-info " role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">oct</div>
            <div class="progress-bar  progress-bar-striped bg-info " role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">nov</div>
            <div class="progress-bar  progress-bar-striped bg-info " role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">dec</div>
          </div>

          2022

          <div class="progress">

            <div class="progress-bar  progress-bar-striped  progress-bar-animated" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
              <i class="pi pi-angle-double-up p-mr-4 p-text-danger" style="font-size: 1rem">jan</i>
            </div>
            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">fev</div>
            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">mars</div>
            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">avr</div>
            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">mai</div>
            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">juin</div>
            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">jui</div>
            <div class="progress-bar  bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">aout</div>
            <div class="progress-bar  bg-secondary " role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">sept</div>
            <div class="progress-bar  bg-secondary " role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">oct</div>
            <div class="progress-bar  bg-secondary " role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">nov</div>
            <div class="progress-bar  bg-secondary " role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100" style="width: 25%;">dec</div>

          </div>

          <a data-bs-toggle="collapse" href="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">

          </a>
        </div>
        <div class="card-footer text-muted">
          <div class="collapse" id="collapseDetails">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when
              the user activates the relevant trigger.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




















<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="body" *ngFor="let item of annee; let i = index;">
          {{item.libelleFr}}

          <div class="progress" >
            <div class="progress-bar" role="progressbar" aria-valuenow="25" *ngFor="let month of annee[i].mois"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;" 
              [ngClass]="month.status=='terminé' ? 'progress-bar-striped bg-info': month.status=='en cours' ? 'progress-bar-striped progress-bar-animated' : 'bg-secondary'">
              <i *ngIf="month.status=='en cours' else autre" class="pi pi-angle-double-up p-mr-4 p-text-danger" style="font-size: 1rem"> {{month.detail}} </i>

              <ng-template #autre> 
              <a  data-bs-toggle="collapse" href="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails"> {{month.detail}} </a>
            </ng-template>

           
          </div>

          

          <a data-bs-toggle="collapse" href="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">

          </a>
        </div>
        <div class="card-footer text-muted">
          <div class="collapse" id="collapseDetails">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when
              the user activates the relevant trigger.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>