<h2 class="d-flex justify-content-center text-primary">Calendrier Budgetaire</h2>
<hr style="margin-bottom: 20px;">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card" *ngFor="let item of annee; let i = index;">
        <div class="body">
          {{item.libelleFr}} hey

          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="25" *ngFor="let month of annee[i].mois"
              aria-valuemin="0" aria-valuemax="100" style="width: 25%;"
              [ngClass]="month.status=='terminé' ? 'progress-bar-striped bg-info': month.status=='en cours' ? 'progress-bar-striped progress-bar-animated' : 'bg-secondary'">
              <a data-bs-toggle="collapse"  aria-expanded="false" aria-controls="collapseDetails"
                *ngIf="month.status=='en cours' else autre" (click)="setDetails(month.moisID, month.status)" href="#aa{{item.libelleFr}}">
                <i class="pi pi-angle-double-up p-mr-4 p-text-danger" style="font-size: 1rem"> {{month.detail}} </i>
              </a>

              <ng-template #autre>
                <a data-bs-toggle="collapse" href="#aa{{item.libelleFr}}" aria-expanded="false"
                  aria-controls="collapseDetails"> {{month.detail}} </a>
              </ng-template>

            </div>

          </div>
          <div class="card-footer text-muted">
            <div class="collapse" id="aa{{item.libelleFr}}">
              <div class="card card-body">
                {{item.libelleFr}} {{details}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>